<div id="home">
  <h2>Generate Your Daily Nine Rap Odes</h2>

  <div class="form">
    <%= form_tag(odes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search a topic" %>
      <%= submit_tag "Search", class: "button tiny" %>
    <% end %>
  </div>

  <h2>Add New Artist</h2>
  <div class="form">
    <%= form_for Artist.new do |f| %>
      <%= f.text_field :name, placeholder: "Artist name" %>
      <%= f.submit "Add Artist", class: "button tiny"%>
    <% end %>
  </div>
</div>
